body {
    font-family: Arial;
    background-color: rgb(240, 238, 238);
}

section{
    text-align: left;
    background-color: rgb(255, 255, 255);
    margin: 20px 500px 20px 500px;
    border-radius: 5px;
    padding: 10px 5px 10px 10px;
    box-shadow: 0 2px 3px;
    max-width: 750px;
    border-left: 4px solid rgb(44, 44, 247);
    
}
